@font-face {
  font-family: 'ls-icomoon';
  src:url('icomoon/fonts/icomoon.eot?84yycz');
  src:url('icomoon/fonts/icomoon.eot?#iefix84yycz') format('embedded-opentype'),
  url('icomoon/fonts/icomoon.woff?84yycz') format('woff'),
  url('icomoon/fonts/icomoon.ttf?84yycz') format('truetype'),
  url('icomoon/fonts/icomoon.svg?84yycz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon-css {
  font-family: "ls-icomoon";
  font-style: normal;
  font-weight: normal;
  font-size: initial;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon ($content: '', $includeBaseCss: true) {

  &:before {
    @if $includeBaseCss == true {
      @include icon-css;
    }
    content: $content;
  }
}

[class^="ls-icon-"], [class*="ls-icon-"] {
  display: initial;
  width: auto;
  height: auto;
  background: none;
}

[class^="ls-icon-"]:before, [class*="ls-icon-"]:before {
  @include icon-css;
}

@mixin icon-cancel($includeBaseCss: true) {
  @include icon("\e812", $includeBaseCss);
}

@mixin icon-env($includeBaseCss: true) {
  @include icon("\e800", $includeBaseCss);
}

@mixin icon-user($includeBaseCss: true) {
  @include icon("\e801", $includeBaseCss);
}

@mixin icon-phone($includeBaseCss: true) {
  @include icon("\e802", $includeBaseCss);
}

@mixin icon-file($includeBaseCss: true) {
  @include icon("\e803", $includeBaseCss);
}

@mixin icon-cal($includeBaseCss: true) {
  @include icon("\e804", $includeBaseCss);
}

@mixin icon-card($includeBaseCss: true) {
  @include icon("\e805", $includeBaseCss);
}

@mixin icon-angle-left($includeBaseCss: true) {
  @include icon("\e601", $includeBaseCss);

  &.ls-rtl & {
    @include icon("\e600", $includeBaseCss);
  }
}

@mixin icon-angle-right($includeBaseCss: true) {
  @include icon("\e600", $includeBaseCss);

  &.ls-rtl {
    @include icon("\e601", $includeBaseCss);
  }
}

@mixin icon-arrow-left($includeBaseCss: true) {
  @include icon("\e80a", $includeBaseCss);

  &.ls-rtl & {
    @include icon("\e809", $includeBaseCss);
  }
}

@mixin icon-arrow-right($includeBaseCss: true) {
  @include icon("\e809", $includeBaseCss);

  &.ls-rtl & {
    @include icon("\e80a", $includeBaseCss);
  }
}

@mixin icon-down-dir($includeBaseCss: true) {
  @include icon("\e806", $includeBaseCss);
}


.ls-icon-glass:before {
  content: "\e807";
}
.ls-icon-music:before {
  content: "\e814";
}
.ls-icon-search:before {
  content: "\e816";
}
.ls-icon-heart:before {
  content: "\e818";
}
.ls-icon-star:before {
  content: "\e819";
}
.ls-icon-group:before {
  content: "\e81a";
}
.ls-icon-video:before {
  content: "\e81b";
}
.ls-icon-camera:before {
  content: "\e81c";
}
.ls-icon-ok:before {
  content: "\e81d";
}
.ls-icon-plus:before {
  content: "\e81e";
}
.ls-icon-help:before {
  content: "\e81f";
}
.ls-icon-home:before {
  content: "\e820";
}
.ls-icon-attach:before {
  content: "\e821";
}
.ls-icon-lock:before {
  content: "\e822";
}
.ls-icon-lock-open:before {
  content: "\e823";
}
.ls-icon-eye:before {
  content: "\e824";
}
.ls-icon-tag:before {
  content: "\e826";
}
.ls-icon-flag:before {
  content: "\e827";
}
.ls-icon-thumbs-up:before {
  content: "\e828";
}
.ls-icon-thumbs-down:before {
  content: "\e829";
}
.ls-icon-download-alt:before {
  content: "\e82a";
}
.ls-icon-quote:before {
  content: "\e82b";
}
.ls-icon-pencil:before {
  content: "\e82c";
}
.ls-icon-print:before {
  content: "\e82e";
}
.ls-icon-comment:before {
  content: "\e82f";
}
.ls-icon-bell:before {
  content: "\e830";
}
.ls-icon-location:before {
  content: "\e831";
}
.ls-icon-doc-new:before {
  content: "\e833";
}
.ls-icon-cog:before {
  content: "\e836";
}
.ls-icon-wrench:before {
  content: "\e838";
}
.ls-icon-basket:before {
  content: "\e839";
}
.ls-icon-mic:before {
  content: "\e83a";
}
.ls-icon-headphones:before {
  content: "\e83f";
}
.ls-icon-clock:before {
  content: "\e840";
}
.ls-icon-lightbulb:before {
  content: "\e841";
}
.ls-icon-arrows-cw:before {
  content: "\e850";
}
.ls-icon-signal:before {
  content: "\e856";
}
.ls-icon-desktop:before {
  content: "\e857";
}
.ls-icon-laptop:before {
  content: "\e858";
}
.ls-icon-globe-alt:before {
  content: "\e85b";
}
.ls-icon-cloud:before {
  content: "\e85c";
}
.ls-icon-flight:before {
  content: "\e85d";
}
.ls-icon-leaf:before {
  content: "\e868";
}
.ls-icon-briefcase:before {
  content: "\e869";
}
.ls-icon-off:before {
  content: "\e86a";
}
.ls-icon-road:before {
  content: "\e86b";
}
.ls-icon-qrcode:before {
  content: "\e86c";
}
.ls-icon-barcode:before {
  content: "\e86d";
}
.ls-icon-book:before {
  content: "\e86f";
}
.ls-icon-chart:before {
  content: "\e870";
}
.ls-icon-fire:before {
  content: "\e872";
}
.ls-icon-gift:before {
  content: "\e873";
}
.ls-icon-tint:before {
  content: "\e877";
}
.ls-icon-megaphone:before {
  content: "\e879";
}
.ls-icon-clipboard:before {
  content: "\e87a";
}
.ls-icon-key:before {
  content: "\e87c";
}
.ls-icon-glasses:before {
  content: "\e883";
}
.ls-icon-hearing-impaired:before {
  content: "\e884";
}
.ls-icon-adult:before {
  content: "\e885";
}
.ls-icon-guidedog:before {
  content: "\e886";
}
.ls-icon-accessibility:before {
  content: "\e887";
}
.ls-icon-male:before {
  content: "\e888";
}
.ls-icon-female:before {
  content: "\e889";
}
.ls-icon-blogger:before {
  content: "\e88b";
}
.ls-icon-path:before {
  content: "\e88f";
}
.ls-icon-picasa:before {
  content: "\e890";
}
.ls-icon-slideshare:before {
  content: "\e894";
}
.ls-icon-dribbble:before {
  content: "\e895";
}
.ls-icon-flickr:before {
  content: "\e898";
}
.ls-icon-friendfeed:before {
  content: "\e89a";
}
.ls-icon-tumblr:before {
  content: "\e89b";
}
.ls-icon-github:before {
  content: "\e89d";
}
.ls-icon-wordpress:before {
  content: "\e8a1";
}
.ls-icon-youtube:before {
  content: "\e8a2";
}
.ls-icon-cancel:before {
  content: "\e812";
}
.ls-icon-left-dir:before {
  content: "\e80a";
}
.ls-icon-right-dir:before {
  content: "\e809";
}
.ls-icon-down-dir:before {
  content: "\e806";
}
.ls-icon-right-open:before {
  content: "\e600";
}
.ls-icon-up-open:before {
  content: "\e602";
}
.ls-icon-down-open:before {
  content: "\e603";
}
.ls-icon-left-open:before {
  content: "\e601";
}
.ls-icon-env:before {
  content: "\e800";
}
.ls-icon-user:before {
  content: "\e801";
}
.ls-icon-phone:before {
  content: "\e802";
}
.ls-icon-doc:before {
  content: "\e803";
}
.ls-icon-cal:before {
  content: "\e804";
}
.ls-icon-credit-card:before {
  content: "\e805";
}
.ls-icon-menu:before {
  content: "\e808";
}
.ls-icon-vimeo:before {
  content: "\e80b";
}
.ls-icon-facebook:before {
  content: "\e80c";
}
.ls-icon-twitter:before {
  content: "\e80d";
}
.ls-icon-skype:before {
  content: "\e80e";
}
.ls-icon-linkedin:before {
  content: "\e810";
}
.ls-icon-dots:before {
  content: "\e813";
}
