@font-face {
  font-family: 'ls-icomoon';
  src: url('icomoon/fonts/livesite-icons/icomoon.eot?-rdmvgd');
  src: url('icomoon/fonts/livesite-icons/icomoon.eot?#iefix-rdmvgd') format('embedded-opentype'),
     url('icomoon/fonts/livesite-icons/icomoon.woff?-rdmvgd') format('woff'),
     url('icomoon/fonts/livesite-icons/icomoon.ttf?-rdmvgd') format('truetype'),
     url('icomoon/fonts/livesite-icons/icomoon.svg?-rdmvgd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ls-icon-"]:before, [class*=" ls-icon-"]:before {
  font-family: 'ls-icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ls-icon-Review_Portal:before {
    content: "\e922";
}
.ls-icon-instagram:before {
    content: "\e921";
}
.ls-icon-Androidbookmark:before {
    content: "\e915";
}
.ls-icon-Safaribookmark:before {
    content: "\e916";
}
.ls-icon-Arrowside:before {
    content: "\e912";
}
.ls-icon-Arrowdown:before {
    content: "\e914";
}
.ls-icon-arrowtop:before {
    content: "\e910";
}
.ls-icon-arrowright:before {
    content: "\e911";
}
.ls-icon-googledoc:before {
    content: "\e90c";
}
.ls-icon-soundcloud:before {
    content: "\e90d";
}
.ls-icon-googledrive:before {
    content: "\e90e";
}
.ls-icon-pdf:before {
    content: "\e90f";
}
.ls-icon-Leftarrow:before {
    content: "\e907";
}
.ls-icon-at-sign:before {
    content: "\e906";
}
.ls-icon-arrowup:before {
    content: "\e905";
}
.ls-icon-backspacetwo:before {
    content: "\e908";
}
.ls-icon-banana:before {
    content: "\e909";
}
.ls-icon-banner:before {
    content: "\e90a";
}
.ls-icon-barcode:before {
    content: "\e90b";
}
.ls-icon-bench:before {
    content: "\e913";
}
.ls-icon-bolt:before {
    content: "\e917";
}
.ls-icon-book:before {
    content: "\e918";
}
.ls-icon-bookmark:before {
    content: "\e919";
}
.ls-icon-bookmarktwo:before {
    content: "\e91a";
}
.ls-icon-bowtie:before {
    content: "\e91b";
}
.ls-icon-bread:before {
    content: "\e91c";
}
.ls-icon-briefcase:before {
    content: "\e91d";
}
.ls-icon-briefcasefour:before {
    content: "\e91e";
}
.ls-icon-briefcasethree:before {
    content: "\e91f";
}
.ls-icon-briefcasetwo:before {
    content: "\e920";
}
.ls-icon-brokenheart:before {
    content: "\e923";
}
.ls-icon-bug:before {
    content: "\e925";
}
.ls-icon-cake:before {
    content: "\e926";
}
.ls-icon-calculator:before {
    content: "\e927";
}
.ls-icon-calendar:before {
    content: "\e928";
}
.ls-icon-calendarday:before {
    content: "\e929";
}
.ls-icon-calendarmonth:before {
    content: "\e92a";
}
.ls-icon-camera:before {
    content: "\e92b";
}
.ls-icon-can:before {
    content: "\e92d";
}
.ls-icon-candle:before {
    content: "\e92e";
}
.ls-icon-car:before {
    content: "\e92f";
}
.ls-icon-cart:before {
    content: "\e930";
}
.ls-icon-cash:before {
    content: "\e931";
}
.ls-icon-cashregister:before {
    content: "\e932";
}
.ls-icon-cd:before {
    content: "\e934";
}
.ls-icon-cddrive:before {
    content: "\e935";
}
.ls-icon-cellstwo:before {
    content: "\e937";
}
.ls-icon-chair:before {
    content: "\e939";
}
.ls-icon-circlectrlplay:before {
    content: "\e950";
}
.ls-icon-cloud:before {
    content: "\e95f";
}
.ls-icon-clouddownload:before {
    content: "\e964";
}
.ls-icon-cloudupload:before {
    content: "\e968";
}
.ls-icon-clover:before {
    content: "\e969";
}
.ls-icon-comment:before {
    content: "\e96c";
}
.ls-icon-compass:before {
    content: "\e96d";
}
.ls-icon-copy:before {
    content: "\e96e";
}
.ls-icon-creditcard:before {
    content: "\e970";
}
.ls-icon-crown:before {
    content: "\e972";
}
.ls-icon-cubeline:before {
    content: "\e974";
}
.ls-icon-cubesolid:before {
    content: "\e975";
}
.ls-icon-cup:before {
    content: "\e976";
}
.ls-icon-cursor:before {
    content: "\e977";
}
.ls-icon-cursorhand:before {
    content: "\e978";
}
.ls-icon-dart:before {
    content: "\e97b";
}
.ls-icon-delete:before {
    content: "\e97d";
}
.ls-icon-desktop:before {
    content: "\e97e";
}
.ls-icon-diamond:before {
    content: "\e97f";
}
.ls-icon-dice2and6:before {
    content: "\e989";
}
.ls-icon-doc:before {
    content: "\e996";
}
.ls-icon-docdownload:before {
    content: "\e99d";
}
.ls-icon-docedit:before {
    content: "\e99f";
}
.ls-icon-docgraph:before {
    content: "\e9a2";
}
.ls-icon-doclock:before {
    content: "\e9a4";
}
.ls-icon-docmusic:before {
    content: "\e9a6";
}
.ls-icon-docs:before {
    content: "\e9a8";
}
.ls-icon-dog2:before {
    content: "\e9b2";
}
.ls-icon-dress:before {
    content: "\e9b4";
}
.ls-icon-dresser:before {
    content: "\e9b5";
}
.ls-icon-ds:before {
    content: "\e9b6";
}
.ls-icon-earth:before {
    content: "\e9b7";
}
.ls-icon-eightball:before {
    content: "\e9b9";
}
.ls-icon-exclamationpoint:before {
    content: "\e9bc";
}
.ls-icon-eye:before {
    content: "\e9bf";
}
.ls-icon-eyedropper:before {
    content: "\e9c0";
}
.ls-icon-eyetwo:before {
    content: "\e9c1";
}
.ls-icon-facejoyful:before {
    content: "\e9d3";
}
.ls-icon-film:before {
    content: "\e9fe";
}
.ls-icon-filmstrip:before {
    content: "\e9ff";
}
.ls-icon-firewall:before {
    content: "\ea01";
}
.ls-icon-flag:before {
    content: "\ea0d";
}
.ls-icon-flashlight:before {
    content: "\ea0e";
}
.ls-icon-folder:before {
    content: "\ea11";
}
.ls-icon-font:before {
    content: "\ea1f";
}
.ls-icon-gameboy:before {
    content: "\ea24";
}
.ls-icon-glasses:before {
    content: "\ea25";
}
.ls-icon-gps:before {
    content: "\ea26";
}
.ls-icon-grapes:before {
    content: "\ea27";
}
.ls-icon-graph:before {
    content: "\ea28";
}
.ls-icon-guitar:before {
    content: "\ea29";
}
.ls-icon-hanger:before {
    content: "\ea2a";
}
.ls-icon-hangingpainting:before {
    content: "\ea2b";
}
.ls-icon-harddrive:before {
    content: "\ea2c";
}
.ls-icon-hatbowler:before {
    content: "\ea2d";
}
.ls-icon-hatchef:before {
    content: "\ea2e";
}
.ls-icon-hattop:before {
    content: "\ea2f";
}
.ls-icon-hatwitch:before {
    content: "\ea30";
}
.ls-icon-heart:before {
    content: "\ea32";
}
.ls-icon-home:before {
    content: "\ea36";
}
.ls-icon-hourglass:before {
    content: "\ea39";
}
.ls-icon-ipad:before {
    content: "\ea42";
}
.ls-icon-iphone:before {
    content: "\ea43";
}
.ls-icon-key:before {
    content: "\ea48";
}
.ls-icon-laptop:before {
    content: "\ea49";
}
.ls-icon-leaf:before {
    content: "\ea50";
}
.ls-icon-lego:before {
    content: "\ea51";
}
.ls-icon-lifesaver:before {
    content: "\ea52";
}
.ls-icon-lightbulb:before {
    content: "\ea53";
}
.ls-icon-lightbulbon:before {
    content: "\ea54";
}
.ls-icon-like:before {
    content: "\ea55";
}
.ls-icon-linearrowdown:before {
    content: "\ea56";
}
.ls-icon-linearrowleft:before {
    content: "\ea57";
}
.ls-icon-linearrowright:before {
    content: "\ea58";
}
.ls-icon-linearrowup:before {
    content: "\ea59";
}
.ls-icon-link:before {
    content: "\eabb";
}
.ls-icon-linked:before {
    content: "\eabd";
}
.ls-icon-linkedtwo:before {
    content: "\eabe";
}
.ls-icon-location:before {
    content: "\eae4";
}
.ls-icon-locationearth:before {
    content: "\eae5";
}
.ls-icon-lock:before {
    content: "\eae6";
}
.ls-icon-magnet:before {
    content: "\eae7";
}
.ls-icon-mail:before {
    content: "\eae8";
}
.ls-icon-mailedit:before {
    content: "\eaee";
}
.ls-icon-man:before {
    content: "\eaf8";
}
.ls-icon-menutwo:before {
    content: "\eb11";
}
.ls-icon-mic:before {
    content: "\eb14";
}
.ls-icon-monitor:before {
    content: "\eb7c";
}
.ls-icon-mortarboard:before {
    content: "\eb7d";
}
.ls-icon-music:before {
    content: "\eb81";
}
.ls-icon-musicnote:before {
    content: "\eb82";
}
.ls-icon-paintbrush:before {
    content: "\eb87";
}
.ls-icon-pants:before {
    content: "\eb88";
}
.ls-icon-paperclip:before {
    content: "\eb89";
}
.ls-icon-peace:before {
    content: "\eb8f";
}
.ls-icon-peach:before {
    content: "\eb90";
}
.ls-icon-pear:before {
    content: "\eb91";
}
.ls-icon-percent:before {
    content: "\eb92";
}
.ls-icon-phone:before {
    content: "\eb93";
}
.ls-icon-phonebars:before {
    content: "\eb96";
}
.ls-icon-phonewavesthree:before {
    content: "\eba5";
}
.ls-icon-pianokeys:before {
    content: "\eba8";
}
.ls-icon-pictureframed:before {
    content: "\ebaa";
}
.ls-icon-pin:before {
    content: "\ebab";
}
.ls-icon-play:before {
    content: "\ebac";
}
.ls-icon-playbag:before {
    content: "\ebad";
}
.ls-icon-playlist:before {
    content: "\ebae";
}
.ls-icon-polaroid:before {
    content: "\ebb5";
}
.ls-icon-printer:before {
    content: "\ebb8";
}
.ls-icon-psp:before {
    content: "\ebb9";
}
.ls-icon-puzzlepiece:before {
    content: "\ebba";
}
.ls-icon-quotes:before {
    content: "\ebbb";
}
.ls-icon-radio:before {
    content: "\ebbc";
}
.ls-icon-radiothree:before {
    content: "\ebbe";
}
.ls-icon-ribbon:before {
    content: "\ebc7";
}
.ls-icon-roller:before {
    content: "\ebca";
}
.ls-icon-router:before {
    content: "\ebcb";
}
.ls-icon-save:before {
    content: "\ebcc";
}
.ls-icon-scales:before {
    content: "\ebcd";
}
.ls-icon-scissors:before {
    content: "\ebce";
}
.ls-icon-scrolltwo:before {
    content: "\ebd1";
}
.ls-icon-search:before {
    content: "\ebd2";
}
.ls-icon-share:before {
    content: "\ebe3";
}
.ls-icon-shirt-06:before {
    content: "\ebe4";
}
.ls-icon-shirt-55:before {
    content: "\ebe5";
}
.ls-icon-speedometer:before {
    content: "\ec01";
}
.ls-icon-spraypaint:before {
    content: "\ec03";
}
.ls-icon-stamp:before {
    content: "\ec15";
}
.ls-icon-starthree:before {
    content: "\ec18";
}
.ls-icon-stereo:before {
    content: "\ec1a";
}
.ls-icon-sun:before {
    content: "\ec1d";
}
.ls-icon-tag:before {
    content: "\ec1f";
}
.ls-icon-tags:before {
    content: "\ec20";
}
.ls-icon-target:before {
    content: "\ec22";
}
.ls-icon-textcolor:before {
    content: "\ec24";
}
.ls-icon-thumbtack:before {
    content: "\ec25";
}
.ls-icon-tie:before {
    content: "\ec26";
}
.ls-icon-toxic:before {
    content: "\ec29";
}
.ls-icon-trash:before {
    content: "\ec2a";
}
.ls-icon-tree:before {
    content: "\ec2b";
}
.ls-icon-trophy:before {
    content: "\ec38";
}
.ls-icon-trumpet:before {
    content: "\ec39";
}
.ls-icon-tux:before {
    content: "\ec3a";
}
.ls-icon-tv:before {
    content: "\ec3b";
}
.ls-icon-unlock:before {
    content: "\ec3c";
}
.ls-icon-upload:before {
    content: "\ec3d";
}
.ls-icon-user:before {
    content: "\ec44";
}
.ls-icon-users:before {
    content: "\ec4b";
}
.ls-icon-videocamera:before {
    content: "\ec50";
}
.ls-icon-videocameratwo:before {
    content: "\ec51";
}
.ls-icon-volumefour:before {
    content: "\ec54";
}
.ls-icon-weights:before {
    content: "\ec59";
}
.ls-icon-window:before {
    content: "\ec5d";
}
.ls-icon-windows:before {
    content: "\ec68";
}
.ls-icon-wrenchandhammer:before {
    content: "\ec6e";
}
.ls-icon-yinyang:before {
    content: "\ec71";
}
.ls-icon-zoom:before {
    content: "\ec73";
}
.ls-icon-Socialtw:before {
    content: "\e900";
}
.ls-icon-Socialmail:before {
    content: "\e901";
}
.ls-icon-Socialin:before {
    content: "\e902";
}
.ls-icon-Socialgoo:before {
    content: "\e903";
}
.ls-icon-Socialfb:before {
    content: "\e904";
}
.ls-icon-Twitter:before {
    content: "\f099";
}
.ls-icon-Facebook:before {
    content: "\f09a";
}
.ls-icon-Linkedin:before {
    content: "\f0e1";
}
.ls-icon-angle-left:before {
    content: "\f104";
}
.ls-icon-angle-right:before {
    content: "\f105";
}
.ls-icon-angle-up:before {
    content: "\f108";
}
.ls-icon-angle-down:before {
    content: "\f107";
}
.ls-icon-Share:before {
    content: "\e608";
}
.ls-icon-Linkedin-Circle:before {
    content: "\e609";
}
.ls-icon-At-Sign:before {
    content: "\e60b";
}
.ls-icon-Globe:before {
    content: "\e61c";
}
.ls-icon-vCita:before {
    content: "\e631";
}
.ls-icon-Close:before {
    content: "\e633";
}
.ls-icon-Phone:before {
    content: "\e634";
}
.ls-icon-Lock:before {
    content: "\e641";
}
.ls-icon-Map-Marker:before {
    content: "\e646";
}
.ls-icon-Facebook-Circle:before {
    content: "\ea8e";
}
.ls-icon-Twitter-Circle:before {
    content: "\ea94";
}
.ls-icon-Env:before {
    content: "\e800";
}
.ls-icon-Person:before {
    content: "\e801";
}
.ls-icon-Phone-Full:before {
    content: "\e802";
}
.ls-icon-Document:before {
    content: "\e803";
}
.ls-icon-Scheduler:before {
    content: "\e804";
}
.ls-icon-Credit-Card:before {
    content: "\e805";
}
.ls-icon-Star:before {
    content: "\e819";
}
.ls-icon-Video:before {
    content: "\e81b";
}
.ls-icon-Bubbel:before {
    content: "\e82f";
}
.ls-icon-package:before {
  content: "\e92c";
}
.ls-icon-Google-Plus:before {
  content: "\f0d5";
}
.ls-icon-Google-Plus-Circle:before {
  content: "\ea8a";
}
