@import "compass-compat";
@import "theme";
@import "icomoon/style";
@import "icomoon/livesite-icons";
@import "mixins";
@import "mobile/active_engage";
@import "mobile/action_buttons";
@import "mobile/welcome_box";
@import "mobile/animation";
@import "mobile/chat";
// Modern theme styles (only apply when .ls-theme-modern class is present)
@import "mobile/modern/active_engage";

.ls-hide-mobile {
  display: none !important;
}

.ls-show-mobile {
  display: initial !important;
}

.ls-zoom-width {
  margin: 0 auto !important;
}

.ls-ensure-loaded {
  position: fixed;
}